body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 70vh;  
}

.btn {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffedf5;
    box-shadow: 2px 4px 6px rgba(118, 12, 93, 0.3); 
    border-radius: 4px;
    border: none;
}

#message {
    margin-top: 20px;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 16px; 
}